<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Fiesta Paga-Na'</title>
<link rel="shortcut icon" href="images/cocktailPequeño.png">
<link rel="stylesheet" href="/styles/GeneralStyle.css">
<link rel="stylesheet" href="/styles/ofertaparticularstyle.css">
</head>
<body>
	<nav>
		<ul class="menu">
			<li><a href="index.html"><img class="logo"src="images/cocktail.png"/></a></li>
						
			<li class="menuItem btn btn-1"><a href="/inicioEmpresario">Mis ofertas</a></li>
			<!--  <li class="menuItem btn btn-1"><a href="/nuevaOferta?name={{username}}">Crear Oferta</a></li>	-->
			<li class="menuItem btn btn-1"><a class="active" href="/mostrarComercios">Mis Comercios</a></li>
			<li class="menuItem btn btn-1"><a href="/nuevoComercio">Crear Comercio</a></li>
			<li class="menuItem btn btn-1" style="float:right"><a href="/inicio">Cerrar Sesión</a></li>
			<li class="menuItem btn btn-1" style="float:right"><a href="/mostrarPerfilComercio">{{username}}</a></li>
		</ul>
	</nav>
	
		<div class="fullOffer" style="margin-top:3%">
			<div style="width:100%;padding-top: 1%; border-radius: 7px;">
			<h1 id="nombreoferta">{{entName}}</h1>	
			<hr color="black">
			</div>	
			<div class="oferta">
				<div class="imgclass">
					<img class="imgOferta" src="http://placehold.it/400x250/000/fff" alt="description" style="margin-top:1%; ">
				</div>
				<div class="infoOferta">
					<p><b style="color:#3498db">Dueño:</b> 					{{owner.name}} {{owner.surname}}</p>
					<p><b style="color:#3498db">Ciudad:</b> 				{{city}}</p>
					<p><b style="color:#3498db">E-mail:</b> 				{{email}}</p>
					<p><b style="color:#3498db">Direccion:</b> 				{{address}}</p>
					<p><b style="color:#3498db">Telefono:</b> 				{{telephone}}</p>					
				</div>
				
			</div>			
		</div>			
</body>
	<footer>
  		<div class="copyright">
    		&copy; Fiesta Paga-Na  - 2019 - Jose Ignacio Diaz, Carlos Gil y Cristian Posada <br><br>
    		Icons made by 
  			<a href="https://www.freepik.com/" title="Freepik">Freepik</a> 
  			from 
  			<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
  			is licensed by 
  			<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  		</div>
  		<img class="logoDown"src="images/cocktail.png" style="float:right"/>
	</footer>
</html>