<html>
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="styles/Indexstyle.css">
	<link rel="stylesheet" href="styles/GeneralStyle.css">
</head>
<body>
	<nav>
		<ul class="menu">
			<li><img class="logo"src="images/cocktail.png"/></li>
			<li class="menuItem btn btn-1"><a class="active" href="/inicioUsuario?name={{username}}">Inicio</a></li>
			<li class="menuItem btn btn-1"><a href="/mostrarAnuncios?username={{username}}">Ofertas</a></li>
			<li class="menuItem btn btn-1" style="float:right"><a href="/">Cerrar Sesión</a></li>
			<li class="menuItem btn btn-1" style="float:right"><a href="/mostrarPerfil?username={{username}}">{{username}}</a></li>
			
		</ul>
	</nav>
	
	<div id="main">
	
		<img class="city" src="https://www.bain.com/contentassets/c2f6214e1b664bfeb98db4853ab8f7bd/local-office-images-madrid-1950x650.jpg" />
		
		<h2>Aqui tienes nuestras mejores ofertas</h2>
		
	  	<section class="columns">
	
			<div class="column">
			{{#mejoresAnuncios}}
				<img class="oferta" style="height:20%" src="http://placehold.it/400x250/000/fff" />
				<p class="bold">{{local.entName}}</p>
				<p>{{title}}</p>
				<p>{{local.city}}</p>
				<p>Valoración Media: {{valoracionMedia}}
				<form action="/mostrarAnuncio?title={{title}}" method="post">
					<button class="btn-blue">Acceder</button>
				</form>
			{{/mejoresAnuncios}}
			</div>
					
			
		</section>
	
	</div>
</body>
	<footer>
  		<div class="copyright">
    		&copy; Fiesta Paga-Na  - 2019 - Jose Ignacio Diaz, Carlos Gil y Cristian Posada
  		</div>
  		<img class="logoDown"src="images/cocktail.png" style="float:right"/>
	</footer>
</html>