<html>
<head>
	<meta charset="UTF-8"/>
	<title>Fiesta Paga-Na'</title>
	<link rel="shortcut icon" href="images/cocktailPequeño.png">
	<link rel="stylesheet" href="styles/Indexstyle.css">
	<link rel="stylesheet" href="styles/GeneralStyle.css">
</head>
<body>
	<nav>
		<ul class="menu">
			<li><img class="logo"src="images/cocktail.png"/></li>
			<li class="menuItem btn btn-1"><a class="active" href="/inicioUsuario">Inicio</a></li>
			<li class="menuItem btn btn-1"><a href="/mostrarAnuncios">Ofertas</a></li>
			<li class="menuItem btn btn-1" style="float:right"><a href="/">Cerrar Sesión</a></li>
			<li class="menuItem btn btn-1" style="float:right"><a href="/mostrarPerfil">{{username}}</a></li>
			
		</ul>
	</nav>

	<div id="main">
	
		<img class="city" src="images/bnw.jpg" />
		<h3 class=textoImagen>Fiesta Paga-Na'</h3>
		
		<h2>Aqui tienes nuestras mejores ofertas</h2>
		
	  	<section class="columns">
	
			
			{{#mejoresAnuncios}}
			<div class="column">
				<img class="oferta" style="height:20%" src="data:image/jpeg;base64,{{imageString}}" />
				<p class="bold">{{title}}</p>
				<p>{{local.entName}}</p>
				<p>{{local.city}}</p>
				<p>Valoración Media: {{valoracionMedia}}
				<form action="/mostrarAnuncio?title={{title}}" method="post">
					<button class="btn-blue">Acceder</button>
					<input type="hidden" name="_csrf" value="{{token}}"/>
				</form>
			</div>
			{{/mejoresAnuncios}}
			
					
			
		</section>
	
	</div>
</body>
	<footer>
  		<div class="copyright">
    		&copy; Fiesta Paga-Na  - 2019 - Jose Ignacio Diaz, Carlos Gil y Cristian Posada <br><br>
    		Icons made by 
  			<a href="https://www.freepik.com/" title="Freepik">Freepik</a> 
  			from 
  			<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
  			is licensed by 
  			<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  		</div>
  		<img class="logoDown"src="images/cocktail.png" style="float:right"/>
	</footer>
</html>