<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
 <meta http-equiv = "refresh" content = "6; url = /login" />
<title>Error</title>

<link rel="shortcut icon" href="images/cocktailPequeño.png">
<link rel="stylesheet" href="/styles/GeneralStyle.css">
<link rel="stylesheet" href="styles/ErrorStyle.css">
</head>
<body>
	<nav>
		<ul class="menu">
			<li><img class="logo"src="images/cocktail.png"/></li>
		</ul>
	</nav>


	<div class="errorMsg">
		<p> Los datos introducidos no son correctos o ha ocurrido algún error. 
		<br><br>Será redirigido al inicio de sesión en unos segundos</p> 
		
	</div>

	
<!--  <div class="loading"></div> -->
	<h1 Style="position: absolute; top: 10%; left: 35%; color: #fff !important; ">
		Si no te redirige pincha<a href="/login"> aquí</a>
	</h1>
	
</body>
</html>