<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Fiesta Paga-Na'</title>
<link rel="shortcut icon" href="images/cocktailPequeño.png">
<link rel="stylesheet" href="styles/GeneralStyle.css">
<link rel="stylesheet" href="styles/ofertaparticularstyle.css">
<link rel="stylesheet" href="styles/OfertaStyle.css">

<script src="../scripts/misOfertasScript.js"></script>
</head>

<body>
	<nav>
		<ul class="menu">
			<li><a href="index.html"><img class="logo"src="images/cocktail.png"/></a></li>

			<li class="menuItem btn btn-1"><a href="/inicioEmpresario">Mis ofertas</a></li>
			<!--  <li class="menuItem btn btn-1"><a href="/nuevaOferta?name={{username}}">Crear Oferta</a></li>	-->
			<li class="menuItem btn btn-1"><a class="active" href="/mostrarComercios">Mis Comercios</a></li>
			<li class="menuItem btn btn-1"><a href="/nuevoComercio">Añadir  Comercio</a></li>
			<li class="menuItem btn btn-1" style="float:right"><a href="/">Cerrar Sesion</a></li>
			<li class="menuItem btn btn-1" style="float:right"><a href="/mostrarPerfilEmpresario">{{username}}</a></li> <!-- TO DO -->
		</ul>
	</nav>

	<h1 class="misOfertas"><b style="color:#3498db">Mis comercios</b></h1>

	<div class="container">
    	<div id="products" style="margin-top:3%">
    	{{#comercios}}
            <div id="item" class="itemList">
	            <div class="thumbnail">
	                

		                <h1 class="title" style="color:#3498db">{{entName}}</h1>
		                <h4 class="rest">{{city}}</h4>
		   				<h4 class="rest">{{address}}</h4>
		   				<h4 class="rest">{{email}}</h4>
		   				<h4 class="rest">{{telephone}}</h4>

	            </div>
	            <form class="form-btn-esp" id="form" action="/mostrarPerfilComercio?entName={{entName}}" method="post">
	   				<input class="btn-blue-esp" type="submit" value="ACCEDER" >
	   				<!--  <input id="button" class="btn-blue-esp" style= "float:right;text-align: center;width:90%;" onClick="showStatistics()" value="Estadisticas">	-->
	   			</form>
				<form class="form-btn-esp" style="margin-right: 1%;" id="form" action="/nuevaOferta?entName={{entName}}" method="post">
	   				<input class="btn-blue-esp" type="submit" value="NUEVA OFERTA" >
	   				<!--  <input id="button" class="btn-blue-esp" style= "float:right;text-align: center;width:90%;" onClick="showStatistics()" value="Estadisticas">	-->
	   			</form>


	   		</div>
      	{{/comercios}}

		</div>
	</div>
</body>
	<footer>
  		<div class="copyright">
    		&copy; Fiesta Paga-Na  - 2019 - Jose Ignacio Diaz, Carlos Gil y Cristian Posada <br><br>
    		Icons made by 
  			<a href="https://www.freepik.com/" title="Freepik">Freepik</a> 
  			from 
  			<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
  			is licensed by 
  			<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  		</div>
  		<img class="logoDown"src="images/cocktail.png" style="float:right"/>
	</footer>
</html>
