<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Nueva Oferta</title>
<link rel="stylesheet" href="styles/GeneralStyle.css">
<link rel="stylesheet" href="styles/nuevaOfertaStyle.css">
<script src="../scripts/registroscript.js"></script>
</head>

<body>
	<nav>
		<ul class="menu">
			<li><a href="index.html"><img class="logo"src="images/cocktail.png"/></a></li>
						
			<li class="menuItem btn btn-1"><a href="/inicioComercio?name={{username}}">Mis ofertas</a></li>
			<li class="menuItem btn btn-1" class="active"><a href="/nuevaOferta?name={{username}}">Crear Oferta</a></li>
			<li class="menuItem btn btn-1" style="float:right"><a href="/">Cerrar Sesión</a></li>
			<li class="menuItem btn btn-1" style="float:right"><a  href="/mostrarPerfilComercio?username={{username}}">{{username}}</a></li>
		</ul>
	</nav>
	
	
	  	<div id="form-div">
	  
	  		<h3>Crear Nueva Oferta</h3>
	    	<form class="form" id="form">
	      
	      	<p class="name">
	        	<input name="title" type="text" class="feedback-input" placeholder="Nombre de Oferta y Precio" id="title" />
	      	</p>
	      
	      	<p class="local">
	        	<input name="local" type="text" class="feedback-input" placeholder="Local" id="local" />
	      	</p>
	      	
	      	<p class="city">
	        	<input name="city" type="text" class="feedback-input" placeholder="Ciudad" id="city" />
	      	</p>	      
	      	
	      	<p class="description">
	      		<textarea rows="5" cols="30" class=feedback-input id="description" name="description" placeholder="Descripción"></textarea>
	      	</p>
	      	
	      	<p>Fecha de validez</p>
	      	
	      	<p class="date">
	        	<input name="date" type="date" class="feedback-input" id="date" />
	      	</p>	      	
	      	
			<p class="image">						
		      	<form>
				 	Selecciona una imagen <input type="file" name="img">
				</form>
			</p>
	      
	      	<div class="submit">
	        	<input type="submit" value="TERMINAR" class="btn-blue" style="width: 100%; margin-left:0;"/>
	        	<div class="ease"></div>
	      	</div>
	      
	    	</form>
	  	</div>
	  	<footer>
  				<div class="copyright">
    				&copy; Fiesta Paga-Na  - 2019 - Jose Ignacio Diaz, Carlos Gil y Cristian Posada
  				</div>
  				<img class="logoDown"src="images/cocktail.png" style="float:right"/>
			</footer>

	
</body>

</html>