<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Nueva Oferta</title>
<link rel="stylesheet" href="styles/GeneralStyle.css">
<link rel="stylesheet" href="styles/nuevaOfertaStyle.css">
<script src="../scripts/registroscript.js"></script>
</head>

<body>
	<nav>
		<ul class="menu">
			<li><a href="index.html"><img class="logo"src="images/cocktail.png"/></a></li>
						
			<li class="menuItem btn btn-1"><a href="/inicioEmpresario?name={{username}}">Mis ofertas</a></li>
			<!--  <li class="menuItem btn btn-1"><a href="/nuevaOferta?name={{username}}">Crear Oferta</a></li>	-->
			<li class="menuItem btn btn-1"><a href="/mostrarComercios?name={{username}}">Mis Comercios</a></li>
			<li class="menuItem btn btn-1"><a href="/nuevoComercio?username={{username}}">Crear Comercio</a></li>
			<li class="menuItem btn btn-1" style="float:right"><a href="/">Cerrar Sesión</a></li>
			<li class="menuItem btn btn-1" style="float:right"><a href="/mostrarPerfilComercio?username={{username}}">{{username}}</a></li>
		</ul>
	</nav>
	
	
	  	<div id="form-div">
	  
	  		<h3 style="color:#3498db">Crear Nueva Oferta</h3>
	    	<form action="/crearOferta?entName={{entName}}&username={{username}}" class="form" id="form" method="post">
	      
	      	<p class="name">
	        	<input name="title" type="text" class="feedback-input" placeholder="Nombre de Oferta y Precio" id="title" />
	      	</p>
	     
	      	
	      	<p class="description">
	      		<textarea rows="5" cols="30" class=feedback-input id="description" name="description" placeholder="Descripcion"></textarea>
	      		
	      	</p>
	      	
	      	<p style="color:#3498db">Fecha de expiracion</p>
	      	
	      	<p class="date">
	        	<input name="date" type="date" class="feedback-input" id="date" />
	      	</p>	      	
	      	
			 <!-- <p class="image">						
		      	<form>
				 	Selecciona una imagen <input type="file" name="img">
				</form>
			</p> -->
	      
	      	<div class="submit">
	        	<input type="submit" value="TERMINAR" class="btn-blue" style="width: 100%; margin-left:0;"/>
	        	<div class="ease"></div>
	      	</div>
	      
	    	</form>
	  	</div>
</body>
	<footer>
  		<div class="copyright">
    		&copy; Fiesta Paga-Na  - 2019 - Jose Ignacio Diaz, Carlos Gil y Cristian Posada <br><br>
    		Icons made by 
  			<a href="https://www.freepik.com/" title="Freepik">Freepik</a> 
  			from 
  			<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
  			is licensed by 
  			<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  		</div>
  		<img class="logoDown"src="images/cocktail.png" style="float:right"/>
	</footer>
</html>