<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" href="styles/GeneralStyle.css">
<link rel="stylesheet" href="styles/OfertaStyle.css">
<script src="scripts/ofertasScript.js"></script>
</head>

<body>
	<nav>
		<ul class="menu">
			<li><a href="index.html"><img class="logo"src="images/cocktail.png"/></a></li>
			
			<li class="menuItem btn btn-1"><a href="/inicioUsuario?name={{username}}">Inicio</a></li>
			<li class="menuItem btn btn-1"><a class="active" href="/mostrarAnuncios?username={{username}}">Ofertas</a></li>
			<li class="menuItem btn btn-1" style="float:right"><a href="/">Cerrar Sesión</a></li>
			<li class="menuItem btn btn-1" style="float:right"><a href="/mostrarPerfil?username={{username}}">{{username}}</a></li>
		</ul>
	</nav>
   
	<div class="container">	    
	    <div id="products" style="margin-top:3%">   
	    {{#anuncios}}       
	            <div id="item" class="itemList">
		            <div class="thumbnail">
		                <img id="img" class="image-list" src="http://placehold.it/400x250/000/fff" alt="" />
		                    <h1 class="title" style="color:#3498db">{{title}}</h1>
		                	<h4 >{{local.entName}}</h4>
		   					<h4 >{{local.city}}</h4>
		   					<h4 >Hasta el {{date}}</h4>
		             </div>
	             	 <form class="form-btn-esp" action="/mostrarAnuncio?title={{title}}" method="post">
	   					<input class="btn-blue-esp" type="submit" value="ACCEDER" >
	   				 </form>
	             </div> 
	      {{/anuncios}}
	    </div>   
 	</div>	
</body>
	<footer>
  		<div class="copyright">
    		&copy; Fiesta Paga-Na  - 2019 - Jose Ignacio Diaz, Carlos Gil y Cristian Posada <br><br>
    		Icons made by 
  			<a href="https://www.freepik.com/" title="Freepik">Freepik</a> 
  			from 
  			<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
  			is licensed by 
  			<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  		</div>
  		<img class="logoDown"src="images/cocktail.png" style="float:right"/>
	</footer>
</html>