<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="./styles/ofertaparticularstyle.css">
</head>
<body>
	<ul>
		<li><img class="logo" src="./images/cocktail.png"/></li>
		<li><a href="index.html">Inicio</a></li>
		<li><a href="ofertas.html">Ofertas</a></li>
		<li style="float:right"><a href="registro.html">Login</a></li>
	</ul>
		<div class="fullOffer">
		<h1 id="nombreoferta">{{title}}</h1><hr color="black">	
		<div class="oferta">
			<div class="imgclass"><img id="imgOferta" src="./images/imagenoferta.jpg" alt="description"></div>
			<div class="infoOferta">
				<p style="padding-top:20px">Nombre del comercio: {{ent}}</p>
				<p>Ciudad: {{city}}</p>
				<p>E-mail: {{email}}</p>
				<p>Direccion: {{address}}</p>
				<p>Telefono: {{telephone}}</p>
			</div>		
		</div>
		<div class="descripcion">
			<h2>Descripcion de la oferta</h2>
			<p id="offerDescription">
				{{description}}
			</p>
		</div>
	</div>
</body>
</html>