<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Fiesta Paga-Na'</title>
<link rel="shortcut icon" href="images/cocktailPequeño.png">
<link rel="stylesheet" href="/styles/GeneralStyle.css">
<link rel="stylesheet" href="/styles/ofertaparticularstyle.css">
</head>
<body>
	<nav>
		<ul class="menu">
			<li><a href="index.html"><img class="logo"src="images/cocktail.png"/></a></li>
			
			<li class="menuItem btn btn-1"><a href="inicioUsuario">Inicio</a></li>
			<li class="menuItem btn btn-1"><a href="/mostrarAnuncios">Ofertas</a></li>
			<li class="menuItem btn btn-1" style="float:right"><a href="/">Cerrar Sesión</a></li>
			<li class="menuItem btn btn-1" style="float:right"><a href="/mostrarPerfil">{{username}}</a></li>
		</ul>
	</nav>
	
		<div class="fullOffer" style="margin-top:3%">
			<div style="width:100%;padding-top: 1%; border-radius: 7px;">
			<h1 id="nombreoferta">{{title}}</h1>	
			<hr color="black">
			</div>	
			<div class="oferta">
				<form action="/obtenerOferta?title={{title}}" method="post" >
				<input type="hidden" name="_csrf" value="{{token}}"/>
					<input type="submit" value="Obtener Oferta" id="button-blue2"
						style="-webkit-appearance: none !important;border: #bebed2 solid 4px;color: white;
						background-color: #3498db;float:right;cursor: pointer;font-family: MaisonNeue,Helvetica Neue,Helvetica,Arial,sans-serif!important;"/>
				</form>	
				<div class="imgclass">
					<img id="img" class="imageOferta" src="data:image/jpeg;base64,{{imageString}}" alt="" />
				</div>
				<div class="infoOferta">
					<p><b style="color:#3498db">Nombre del comercio:</b> 	{{ent}}</p>
					<p><b style="color:#3498db">Ciudad:</b> 				{{city}}</p>
					<p><b style="color:#3498db">E-mail:</b> 				{{email}}</p>
					<p><b style="color:#3498db">Direccion:</b> 				{{address}}</p>
					<p><b style="color:#3498db">Telefono:</b> 				{{telephone}}</p>
					<p><b style="color:#3498db">Fecha de expiracion:</b> 	{{date}}</p>
				</div>		
			</div>
			
			<div class="descripcion">
				<h2 style="color:#3498db; margin-left:0;">Descripción de la oferta</h2>
				
				<p id="offerDescription">
					{{description}}
				</p>
			</div>
		</div>
			
		<div class="valorar">
			<h3><b style="color:#3498db">Valoracion actual:</b> {{valoracion}} sobre 5</h3>
			<div class="valoracion">
				<h3>Valora esta oferta del 1 al 5:</h3>					
				<form action="/valorar?title={{title}}" method="post" class="nota">
				<input type="hidden" name="_csrf" value="{{token}}"/>
					<input type="number" name="valoracion" min="1" max="5">
					<input type="submit" name="button" value="VALORAR" class="btn-in" 
						style="-webkit-appearance: none !important;border: #bebed2 solid 4px;color: white;
						background-color: #3498db;font-family: MaisonNeue,Helvetica Neue,Helvetica,Arial,sans-serif!important;"/>
				</form>
			</div>
			<div class="comentario">
				<h3><b>Añada su comentario: </b></h3>
				<form action="/añadirComentario?title={{title}}" method="post" >
				<input type="hidden" name="_csrf" value="{{token}}"/>
					<textarea rows="7" cols="60" id="addComment" name="addComment" placeholder="Comentario" class="tuComentario"></textarea>
					<input type="submit" value="Comentar" id="button-blue2"
							style="-webkit-appearance: none !important;border: #bebed2 solid 4px;color: white;
							background-color: #3498db;font-family: MaisonNeue,Helvetica Neue,Helvetica,Arial,sans-serif!important;"/>
				</form>	
			</div>
		</div>
			
		<div id="comentarios" class="comentarios">
			<h2 style="color:#3498db; margin-left: 1%;">Comentarios</h2>
			
			
			{{#comentarios}}
			<form id="comment" class="commentList" action="/eliminarComentario?title={{title}}&comment={{comment}}" method="post">
			<input type="hidden" name="_csrf" value="{{token}}"/>	
				<button id="boton" class="btn-red" style="float:right; width:auto; margin: 0 1% 0 0;padding: 1px;" onload="mostrarEliminarComentario({{user.username}},{{username}})">
					<img src="https://img.icons8.com/material/24/000000/delete-forever.png">
				</button>
				<h4 style="color: #3498db">{{user.username}}</h4>
				<p class="comment">{{comment}}</p>
			
				
			</form>
			{{/comentarios}}
		</div>
</body>
	<footer>
  		<div class="copyright">
    		&copy; Fiesta Paga-Na  - 2019 - Jose Ignacio Diaz, Carlos Gil y Cristian Posada <br><br>
    		Icons made by 
  			<a href="https://www.freepik.com/" title="Freepik">Freepik</a> 
  			from 
  			<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
  			is licensed by 
  			<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  		</div>
  		<img class="logoDown"src="images/cocktail.png" style="float:right"/>
	</footer>
</html>