<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" href="styles/UserStyle.css">
<link rel="stylesheet" href="styles/GeneralStyle.css">
<script src="scripts/registroscript.js"></script>
<script src="scripts/loginscript.js"></script>
<script src="scripts/Editar.js"></script>

</head>

<body>
	<nav>
		<ul class="menu">
			<li><a href="index.html"><img class="logo"src="images/cocktail.png"/></a></li>

			<li class="menuItem btn btn-1"><a href="/inicioUsuario?name={{username}}">Inicio</a></li>
			<li class="menuItem btn btn-1"><a href="/mostrarAnuncios?username={{username}}">Ofertas</a></li>
			<li class="menuItem btn btn-1" style="float:right"><a href="/">Cerrar Sesión</a></li>
			<li class="menuItem btn btn-1" style="float:right"><a class="active" href="/mostrarPerfil?username={{username}}">{{username}}</a></li>
		</ul>
	</nav>

	<form action="/guardar?username={{username}}" method="post">

	  <div class="row">
	    <div class="izqda">
		  <h1>{{username}}</h1>
		</div>
		<div class="dcha">
		  <span id="editar" class="btn-blue" style="width:20%; float:right;text-align: center;" onclick="editar()">Editar</span>
		</div>
	  </div>

	  <div class="row">
	    <div class="izqda">
		  <p style="color:#3498db">Nombre:</p>
		  <textarea rows="1" cols="30" id="nombre" name="nombre" disabled>{{nombre}}</textarea>
		</div><div class="dcha">
		  <p style="color:#3498db">Apellidos:</p>
		  <textarea rows="1" cols="30" id="apellidos" name="apellidos" disabled>{{apellidos}}</textarea>
		</div>
	  </div>

	  <div class="row">
	    <div class="izqda">
		  <p style="color:#3498db">Correo electrónico:</p>
		  <textarea rows="1" cols="30" id="correo" name="correo" disabled>{{correo}}</textarea>
		</div>
		<div class="dcha">
		  <p style="color:#3498db">Género:</p>
		  <!--  <select id="genero" name="genero">
        	<option value="Hombre">Hombre</option>
        	<option value="Mujer">Mujer</option>
        	<option value="Otro">Otro</option>
          </select> -->
          <textarea rows="1" cols="30" id="gender" name="gender" disabled>{{gender}}</textarea>
		</div>
	  </div>

	  <div class="row">
	    <div class="izqda">
		  <p style="color:#3498db">Ciudad:</p>
		  <textarea rows="1" cols="30" id="ciudad" name="ciudad" disabled>{{ciudad}}</textarea>
		</div>
		<div class="dcha">
		  <p style="color:#3498db">Fecha de nacimiento:</p>
		  <textarea rows="1" cols="30" id="fecha" name="fecha" disabled>{{fecha}}</textarea>
		</div>
	  </div>

	  <h4 id="texto" class="invisible" style="color:#3498db;margin-top: 3%;">¿Deseas cambiar tu contraseña?</h4>

	  <div class="row">
	    <div id="pass" class="izqda invisible">
		    <p style="color:#3498db">Contraseña antigua:</p>
			<input type="password" id="password" name="password" />
			<img class="ojo" onclick="showPassword()" src="images/ojo.png" />
		</div>
		<div id="newPass" class="dcha invisible">
		    <p style="color:#3498db">Contraseña nueva:</p>
			<input type="password" id="newpassword" name="passwordNew"/>
			<img class="ojo" onclick="showNewPassword()" src="images/ojo.png"  />
		</div>
	  </div>
	  <div class="row">
		<div id="confPass" class="dcha invisible">
		    <p style="color:#3498db">Confirmar nueva contraseña:</p>
			<input type="password" id="confirmpassword" name="confirmPassword"/>
			<img class="ojo" onclick="showConfirmedPassword()" src="images/ojo.png"  />
		</div>
	 </div>


	<button id="guardar" class="guardar disappear" type="submit">Guardar</button>
	</form>
</body>
	<footer>
  		<div class="copyright">
    		&copy; Fiesta Paga-Na  - 2019 - Jose Ignacio Diaz, Carlos Gil y Cristian Posada
  		</div>
  		<img class="logoDown"src="images/cocktail.png" style="float:right"/>
	</footer>
</html>
