@charset "ISO-8859-1";
.menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
}

.menuItem{
	float: left;
	height:auto;
}

.menuItem a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	/*font-family: 'Montserrat', Arial, Helvetica, sans-serif;*/
	font-size: 16px;
	
	margin-top: 7px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 7px;
}

.active {
  color: #3498db !important;
}

img.logo{
	height:40px;
	width: 40px;
	float:left;
	margin-top: 7px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 7px;
	cursor: pointer;
}

img.logoDown{
	height:60px;
	width: 60px;
	margin-top: 1%;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 3%;

}

body{
	margin: 0;
	background-color: #333;
	font-family: MaisonNeue,Helvetica Neue,Helvetica,Arial,sans-serif!important;
}




footer {
  width: 100%;
  display: inline-block;
  margin:  5% 0% 0% 0% ;

  background-color: #555;
  
}
 .copyright {
  	color: #fff !important;
    width: 50%;
    float: left;
    margin-top:3%;
    margin-bottom:3%;
    margin-left:3%;
}
   
   
   
   
.btn-1 {
  font-weight: 100;
}

.btn-1:hover {
  font-weight: 700;
  letter-spacing: 1px;
}


.btn-blue{
	/*font-family: 'Montserrat', Arial, Helvetica, sans-serif;*/
	float:left;
	width: 80%;
	border: #bebed2 solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:16px;
	padding-top:18px;
	padding-bottom:18px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  	margin-top: 7%;
  	margin-bot: 7%;
  	margin-left: 9%;
  	margin-right: 9%;
  	font-weight:700;
}

.btn-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #3498db;
}
.disappear{
	display: none !important;
}
btn-in{
	-webkit-appearance: none !important;
    border: #bebed2 solid 4px;
    color: white;
    background-color: #3498db;
    font-family: MaisonNeue,Helvetica Neue,Helvetica,Arial,sans-serif!important;
}
.btn-in:hover{
	background-color: white;
	color: #3498db;
}