@charset "ISO-8859-1";

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 10px 0;
}

.column {
	flex: 1;
	margin: 20px;
	padding: 10px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow:0 0 40px -10px #000;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
}

#feedback-page{
	text-align:center;
}

#main{
	width:100%;
	float:left;
	padding-top:0px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #3498db;
}

.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
}

li{
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover{
	background-color: #111;
}

.active {
  color: #3498db;
}

img.logo{
	height: 30px;
	width: 30px;
	margin-top: 7px;
	margin-left: 15px;
	margin-right: 15px;
}




body{
	margin: 0;
	background-color: #333;
}



h1{
	color: #fff;
	text-align: center;
	margin-top: 30px;
	font-family:'Montserrat',sans-serif;
	font-size: 90%;
}


label{
	font-size: 14px;
	color: #78788c;
	position: relative;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 80%;
	border: #bebed2 solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:16px;
	padding-top:18px;
	padding-bottom:18px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  	margin-top: 7%;
  	margin-bot: 7%;
  	margin-left: 9%;
  	margin-right: 9%;
  	font-weight:700;
}

h2{
	color: #fff;
	text-align: center;
	margin-top: 30px;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-size:24px;
}

p{
	color: #3498db;
	/*color: #78788c;*/
	text-align: center;
	font-family:'Montserrat',sans-serif;
	font-size: 15px;
}

.bold
{
	font-weight: bold;
}

img.oferta{
	height: 150px;
	width: 100%;
	border-radius: 7px;
}

img.city{
	width: 100%;
	height: 400px;
}

@media screen and (max-width: 980px) {
  .columns .column {
		margin-bottom: 5px;
    	flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 5px 10px 5px;
	}
	
	img.city{
		width: 100%;
		height: 200px;
	}
}